@import url("https://fonts.googleapis.com/css?family=Lexend+Zetta|Open+Sans+Condensed:300|Patrick+Hand+SC|Roboto&display=swap");

@import url("components/container.css");

@import url("components/avatar.css");

@import url("components/button.css");

@import url("components/banner.css");

@import url("components/card.css");

body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	align-content: center;

 }

h1, h2, h3 {
	font-family: 'Patrick Hand SC', cursive;
	font-weight: lighter;
	font-size: 50px;

	} 

a {
	text-decoration: none;
} 